@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --nav-bg: rgba(255, 255, 255, 0.8);
  --nav-border: rgba(0, 0, 0, 0.1);
  --text-main: #171717;
  --text-hover: #1717172a;
}

[data-theme='dark'] {
  --background: #000024;
  --foreground: #ededed;
  --nav-bg: rgba(0, 0, 36, 0.9);
  --nav-border: rgba(255, 255, 255, 0.1);
  --text-main: #ffffff;
  --text-hover: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s ease;
}